<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Para Laboratório</title>
    <link rel="stylesheet" href="/static/global.css">
</head>

<body>
    <h1>Calculadora Laboratório</h1>
    <button id="buttonCalcLDL" onclick="redirect('calcLDL')">Calcular Colesterol LDL</button>
    <br><br>
    <button id="buttonCalcLDL" onclick="redirect('calcIMC')">Calcular IMC</button>
    <br><br>
    <button id="buttonCalcLDL" onclick="redirect('calcTFG')">Calcular Taxa de Filtração Glomerular (TFG)</button>

    <div id="error"></div>
    <script src="/static/scriptHome.js"></script>
</body>

</html>